@import "material";

$action-offset:             2rem !default;
$btn-action-diameter:       3rem !default;
$btn-action-item-diameter:  2rem !default;
$navbar-height:             3rem !default;
$scrollbar-size:            .5rem !default;
$scrollbar-foreground:      slategray !default;
$scrollbar-background:      mix($scrollbar-foreground, white, 50%) !default;

$colors: () !default;
$colors: map-merge($colors, $material-colors);

$primary:       #007bff;
$secondary:     $grey-600;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         $grey-100;
$dark:          $grey-800;
$darker:          $grey-800;

$theme-colors: () !default;
$theme-colors: map-merge($theme-colors, (
    "red-light":            $red-light,
    "red":                  $red,
    "red-dark":             $red-dark,
    "pink-light":           $pink-light,
    "pink":                 $pink,
    "pink-dark":            $pink-dark,
    "purple-light":         $purple-light,
    "purple":               $purple,
    "purple-dark":          $purple-dark,
    "purple-deep-light":    $purple-deep-light,
    "purple-deep":          $purple-deep,
    "purple-deep-dark":     $purple-deep-dark,
    "indigo-light":         $indigo-light,
    "indigo":               $indigo,
    "indigo-dark":          $indigo-dark,
    "blue-light":           $blue-light,
    "blue":                 $blue,
    "blue-dark":            $blue-dark,
    "blue-weak-light":      $blue-weak-light,
    "blue-weak":            $blue-weak,
    "blue-weak-dark":       $blue-weak-dark,
    "cyan-light":           $cyan-light,
    "cyan":                 $cyan,
    "cyan-dark":            $cyan-dark,
    "teal-light":           $teal-light,
    "teal":                 $teal,
    "teal-dark":            $teal-dark,
    "green-light":          $green-light,
    "green":                $green,
    "green-dark":           $green-dark,
    "green-weak-light":     $green-weak-light,
    "green-weak":           $green-weak,
    "green-weak-dark":      $green-weak-dark,
    "lime-light":           $lime-light,
    "lime":                 $lime,
    "lime-dark":            $lime-dark,
    "yellow-light":         $yellow-light,
    "yellow":               $yellow,
    "yellow-dark":          $yellow-dark,
    "amber-light":          $amber-light,
    "amber":                $amber,
    "amber-dark":           $amber-dark,
    "orange-light":         $orange-light,
    "orange":               $orange,
    "orange-dark":          $orange-dark,
    "orange-deep-light":    $orange-deep-light,
    "orange-deep":          $orange-deep,
    "orange-deep-dark":     $orange-deep-dark,
    "brown-light":          $brown-light,
    "brown":                $brown,
    "brown-dark":           $brown-dark,
    "grey-light":           $grey-light,
    "grey":                 $grey,
    "grey-dark":            $grey-dark,
    "petrol-light":         $petrol-light,
    "petrol":               $petrol,
    "petrol-dark":          $petrol-dark,
));
