.border-bottom { border-bottom: $border-width solid !important; }
.border-left   { border-left:   $border-width solid !important; }
.border-right  { border-right:  $border-width solid !important; }
.border-top    { border-top:    $border-width solid !important; }